<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestAutomationSuite">
<listeners><listener class-name="com.qa.utility.Reporting"></listener></listeners>
<parameter name="Url" value="https://leetcode.com"></parameter>
  <test thread-count="5" name="FunctionalTesting">
<parameter name="Browser" value="Chrome"></parameter>
<classes>
<class name="com.qa.testscripts.TC_ProblemsDropdown_004"></class>
<class name="com.qa.testscripts.TC_ProblemsSearchTag_008"></class>
</classes>
  </test> <!-- FunctionalTesting -->
</suite> <!-- TestAutomationSuite -->
